<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="resume">Resume</a>
  <a href="certificates">Certificates</a>
  <a href="http://www.github.com/Manderfall">Portfolio</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>