<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container-fluid">
	
	<div class="row">		
		<div class="col-12 col-lg-6">
			<img src="/images/WebDevbootcampCert.jpg">
		</div>
				<div class="col-12 col-lg-6">
			<img src="/images/AdvancedWebDevBootcampCert.jpg">
		</div>
	</div>	
	<div class="row">
		<div class="col-12">
			<img src="/images/ReactBootcamp.jpg">
		</div>		
	</div>
	
</div>



<%- include("partials/footer") %>