<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="container-fluid">
	<div class="row">
		
		<div class="col col-12 col-lg-6 name">
			<h1>David Ballinger</h1>
		</div>
		
		<div class="col col-12 col-lg-6 image">
			<img class="right" src="./images/DavidCoverPhoto.jpg">
		</div>
		
	</div>
	
	<div class="row">
		<div class="col col-12 col-lg-6 image">
			<img class ="left" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="col col-12 col-lg-6 about">
			<h2>About Me</h2>
			<p>Focused, hard working individual eager to and apply my knowledge in a team based environment. Always excited to learn and advance my understanding so that I can, in the future, pass that knowledge to others.  </p>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-12 col-lg-6 things-i-do">
			<h2>What is it I do?</h2>
			<p>Full Stack Development and design, remote, with a team or as an individual while maintianing communication with the senior staff.</p>
		</div>
		<div class="col col-12 col-lg-6 image">
			<img class="right" src="https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
		</div>
	</div>
	
	<div class="row">
		<div class="col col-12 col-lg-6 image">
		<img class ="left" src="https://images.unsplash.com/photo-1581842843064-bb0953f1b35f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="col col-12 col-lg-6 how">
			<h2>How is it done?</h2>
			<p>Though I am new to the industry I have a great passion for all things technology. This passion drives my work and my will to learn more every day in this ever 
			expanding industry. Well that and caffine of course!
			</p>
		</div>
	</div>
	
	
	
</div>



<%- include("partials/footer") %>